.mainTitle {
    text-align: center;
    margin: 20px;
}

.mainArea {
    border: 1px solid;
    width: 80%;
    margin: auto;
    padding: 0 20px;
}

.eachItem {
    display: flex;
    justify-content: space-around;

    .leftBlock {
        width: 100%;
    }

    .rightBlock {
        width: 100%;
    }
}

.eachItem {
    margin: 10px 0;
}

.notEqual {
    background-color: rgba($color: red, $alpha: 0.7);
}