.mainTitle{
    text-align: center;
    margin: 20px ;
}

.mainArea{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.jsonInputblock{
    height: 75vh;
    width: 40%;
    margin: 10px 20px;
    resize: none;
    padding: 15px;
}

.jsonInputblock::placeholder{
    padding: 10px;
}

.compareButton{
    padding: 10px 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    cursor: pointer;
}